body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 800px;
  min-width: 400px;
}

:required {
  border: 1px solid red;
}

fieldset {
  background: lightgrey;
  padding: 1rem;
}

fieldset:hover {
  background: grey;
}

fieldset:last-of-type,
fieldset:first-of-type {
  border-bottom: 5px solid black;
}

fieldset:only-child {
  background: lightgrey;
  border: 1px solid black;
}

button {
  background: black;
  color: white;
  border: none;
}
