/* Cambiar fuente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  font-family: arial;
  margin: 1rem;
  background-color: black;
}
header {
  background: black;
  color: white;
  text-align: center;
  padding: 2rem;
}
header h1 {
  margin: 0.5rem;
  font-size: 2.5rem;
}
header h2 {
  font-weight: normal;
  font-size: 2rem;
  margin: 0.5rem;
}
header p {
  margin: 0.5rem;
  font-size: 0.8rem;
}

main {
  background-color: white;
  color: grey;
  padding: 1rem;
}

main h2 {
  border-bottom: 1px solid black;
  margin: 1rem;
}
img {
  padding: 1rem;
  max-width: 100%;
}
section p {
  color: rgb(27, 27, 27);
  margin: 1rem;
}

fieldset {
  border: none;
  margin: 1rem;
}
input,
textarea {
  background-color: grey;
  width: 100%;
  padding: 0.5rem;
}
label {
  color: black;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 0.8rem;
}
button {
  border: none;
  margin: 1rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: black;
  color: white;
}

@media (min-width: 700px) {
  html {
    font-size: 16px;
  }
  header {
    text-align: left;
    margin: 00.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 2rem;
  }
  section {
    max-width: 600px;
  }
  #primero {
    display: grid;
    grid-template-areas:
      "h2 h2"
      "p1 img"
      "p2 p2";
  }
  #primero h2 {
    grid-area: h2;
  }
  #primero img {
    grid-area: img;
  }
  #primero p:first-of-type {
    grid-area: p1;
  }
  #primero p:last-of-type {
    grid-area: p2;
  }
}
