.lista li {
  margin: 10px;
  display: inline-block;
}

li:lang(en) {
  font-size: 2rem;
}

.lista li:nth-child(odd) {
  text-decoration: underline rgb(0, 255, 0);
}

.lista li:last-of-type {
  background: rgb(0, 0, 255);
}

.lista li::after {
  content: "☯";
  margin: 2px;
}

#provincias li:nth-child(2) {
  display: block;
}
#provincias li {
  list-style: upper-roman;
}
