body {
  background-color: rgb(219, 171, 81);
  color: white;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-areas:
    "titulo"
    "secciones";
}
li {
  display: inline-block;
}
article img {
  max-width: 200px;
  border-radius: 50%;
}
a img {
  max-width: 50px;
  border-radius: 50%;
  margin: 0.5rem;
  width: 100%;
}
h1 {
  font-size: 10rem;
  grid-area: titulo;
  text-align: center;
  animation-name: opacidad;
  animation-duration: 1s;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}
section {
  display: flex;
  grid-area: secciones;
  justify-content: center;
}
article {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  background: white;
  color: black;
  padding-top: 2rem;
}

article p {
  background: rgb(107, 59, 219);
  color: rgb(245, 245, 252);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.459);
  padding: 1rem;
  margin: 0;
  height: 100%;
}
article h2 {
  margin-bottom: 0;
}
article nav {
  align-self: center;
}
nav ul {
  padding: 0;
}
.derecha,
.izquierda {
  height: 50vh;
  align-self: center;
}

article:hover {
  transform: scale(1.1);
  transition: 1s ease-out;
}
.izquierda {
  animation-name: opacidad;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.centro {
  animation-name: opacidad;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
.derecha {
  animation-name: opacidad;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}
@keyframes opacidad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
